.card {
  width: 100%;
}

.card__wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card__item {
  flex-basis: 20%;
  min-height: 50px;
}

.card__body {
  padding: 15px;
  margin: 10px 5px;
  border: 1px solid #808080;
  border-radius: 5px;
}

.card__thumbnail {
  width: 50px;
  height: 50px;
  margin: auto;
}

.card__thumbnail img {
  width: 100%;
  height: 100%;
}

.card__content {
  padding-top: 10px;
  word-break: break-all;
}